body .ant-collapse{
    margin: 5px 0;
    border: none;
}
body .ant-collapse > .ant-collapse-item{
    border: none;
}
body .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    background: #323232;
    color: white;
    padding: 5px 30px;
}
.tome-item{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 20px 10px;
    background-color: #323232;
    color: white;
}
.tome-item > span{
    margin: 0 5px;
}
.tome-item > h4{
    font-size: 18px;
    color: white;
    margin-bottom: 0;
}